<div fxLayoutAlign.xs="none" fxLayoutAlign.sm="none" fxLayoutAlign="center top" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column"
  fxLayoutGap="10px">

  <md-card fxFlex="50" >

    <p>Form-1</p>
    <p>Form-1</p>
    <p>Form-1</p>
    <p>Form-1</p>
    <p>Form-1</p>
    <p>Form-1</p>
    <p>Form-1</p>
    <p>Form-1</p>
    <p>Form-1</p>

    <md-card-actions align="end">
      <button md-button (click)="onAction1">Action1</button>
      <button md-button (click)="onAction2">Action2</button>
    </md-card-actions>

  </md-card>

  <md-card fxFlex="20" >


    <p>Form-1 Details</p>
    <p>Form-1 Details</p>
    <p>Form-1 Details</p>
    <p>Form-1 Details</p>
    <p>Form-1 Details</p>
    <p>Form-1 Details</p>
    <p>Form-1 Details</p>
    <p>Form-1 Details</p>
    <p>Form-1 Details</p>
    <p>Form-1 Details</p>
    <p>Form-1 Details</p>
   
  </md-card>

</div>
